/Release
/RyuImprocConsole.sdf
/RyuImprocConsole.sln
/RyuImprocConsole.v11.suo
/3rdparty
/Debug
/ipch
/BarcodeDetectTestConsole/BarcodeDetectTestConsole.vcxproj.user
/BarcodeDetectTestConsole/Debug
/BarcodeDetectTestConsole/Release
/BarcodeDetectTestConsole/algo_excp.ryu
/BarcodeDetectTestConsole/algo_excption
/BarcodeDetectTestConsole/BarcodeDetectTestConsole.vcproj
/BarcodeDetectTestConsole/BarcodeDetectTestConsole.vcproj.LY.windlyu.user
/BarcodeDetectTestConsole/BarcodeDetectTestConsole.vcproj.Ryu-PC.Ryu.user
/BarcodeDetectTestConsole/BarcodeDetectTestConsole.vcxproj
/BarcodeDetectTestConsole/BarcodeDetectTestConsole.vcxproj.filters
/BarcodeQualityDetect/BarcodeQualityDetect.vcxproj.user
/BarcodeQualityDetect/Debug
/BarcodeQualityDetect/BarcodeQualityDetect.vcxproj
/BarcodeQualityDetect/BarcodeQualityDetect.vcxproj.filters
/CharacterSegment/CharacterSegment.vcxproj.filters
/CharacterSegment/Debug
/CharacterSegment/CharacterSegment.vcxproj
/CodeLocation/CodeLocation.vcxproj.filters
/CodeLocation/Debug
/CodeLocation/CodeLocation.vcxproj
/Demo-MNist/Unicode Release
/Demo-MNist/MNist.aps
/Demo-MNist/MNist.dsp
/Demo-MNist/MNist.dsw
/Demo-MNist/MNist.ncb
/Demo-MNist/MNist.rc
/Demo-MNist/MNist.sdf
/Demo-MNist/MNist.sln
/Demo-MNist/MNist.suo
/Demo-MNist/MNist.v11.suo
/Demo-MNist/MNist.vcproj
/Demo-MNist/MNist.vcproj.Ryu-PC.Ryu.user
/Demo-MNist/MNist.vcxproj
/Demo-MNist/MNist.vcxproj.filters
/Demo-MNist/MNist.vcxproj.user
/Demo-MNist/UpgradeLog.XML
/Demo-MNist/_UpgradeReport_Files
/Demo-MNist/Debug
/Demo-MNist/Release
/Demo-MNist/res
/ExpressBarcodeDetection/ExpressBarcodeDetection.vcxproj.user
/ExpressBarcodeDetection/Debug
/ExpressBarcodeDetection/Release
/ExpressBarcodeDetection/条形码识别算法更新_v2.3.0_20170317
/ExpressBarcodeDetection/条形码识别算法源码_1.0
/ExpressBarcodeDetection/条形码识别算法源码_v2.1.0_20160930
/ExpressBarcodeDetection/条形码识别算法源码_v2.1.2_20161027
/ExpressBarcodeDetection/条形码识别算法源码_v2.2.3_20170116
/ExpressBarcodeDetection/ExpressBarcodeDetection.aps
/ExpressBarcodeDetection/ExpressBarcodeDetection.rc
/ExpressBarcodeDetection/ExpressBarcodeDetection.vcproj
/ExpressBarcodeDetection/ExpressBarcodeDetection.vcproj.Ryu-PC.Ryu.user
/ExpressBarcodeDetection/ExpressBarcodeDetection.vcxproj
/ExpressBarcodeDetection/ExpressBarcodeDetection.vcxproj.filters
/ExwaybillCutout/ExwaybillCutout.vcxproj.filters
/ExwaybillCutout/Debug
/ExwaybillCutout/ExwaybillCutout.vcxproj
/GeneralUtilities/GeneralUtilities.vcxproj.user
/GeneralUtilities/Debug
/GeneralUtilities/GeneralUtilities.vcxproj
/GeneralUtilities/GeneralUtilities.vcxproj.filters
/ImageProcess/ImageProcess.vcxproj.filters
/ImageProcess/Debug
/ImageProcess/ImageProcess.vcxproj
/ImageUserInterface/ImageUserInterface.vcxproj.user
/ImageUserInterface/Debug
/ImageUserInterface/ImageUserInterface.vcxproj
/ImageUserInterface/ImageUserInterface.vcxproj.filters
/LableImSamples/LableImSamples.vcxproj.filters
/LableImSamples/Debug
/LableImSamples/LableImSamples.vcxproj
/LeNet-5/LeNet-5.vcxproj.user
/LeNet-5/t10k-images-idx3-ubyte
/LeNet-5/t10k-labels-idx1-ubyte
/LeNet-5/train-images-idx3-ubyte
/LeNet-5/train-labels-idx1-ubyte
/LeNet-5/Debug
/LeNet-5/x64
/LeNet-5/LeNet-5.vcxproj
/LeNet-5/LeNet-5.vcxproj.filters
/MNistDataConvert/MNistDataConvert.vcxproj.filters
/MNistDataConvert/Debug
/MNistDataConvert/MNistDataConvert.vcxproj
/TemporaryTest/TemporaryTest.vcxproj.user
/TemporaryTest/Debug
/TemporaryTest/TemporaryTest.vcxproj
/TemporaryTest/TemporaryTest.vcxproj.filters
/Demo-MNist/data
/BarcodeDetectTestConsole
